<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>

    <h1>Change Comment for Id : <%= id %></h1>

    <form action="/comments/<%= id %>" method="post">
        <label for="edited_comment">Edit Comment : </label>
        <br><br>
        <textarea name="edited_comment" placeholder="Enter your new comment" cols="50" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" value="submit"><button> <a href="/comments">Home</a></button>
    </form>
    
    
</body>
</html>